  <div id="search-result">
    <table id="products-table" class="display">
      <thead>
        <tr>
          <th>ID</th>
          <th>Strain</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Packaging</th>
          <th>Size &#40gram&#41</th>
          <th>THC %</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Row 1 Data 1</td>
          <td>Row 1 Data 2</td>
          <td>Row 1 Data 3</td>
          <td>Row 1 Data 4</td>
          <td>Row 1 Data 5</td>
          <td>Row 1 Data 6</td>
          <td>Row 1 Data 7</td>
        </tr>
      </tbody>
    </table>
  </div>