body {
  margin: 0;
  box-sizing: border-box;
  background-image: url(../images/dawn-landscape.jpg);
  background-color: #bed2a0;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
}

/* Nav to create header for every page, included on main.handlebars */
nav {
  background-color: white;
  color: #68883b;
  border-bottom: solid medium #68883b;
  font-family: "Merienda", cursive;
}

#logout-link {
  float: right;
  color: white;
  margin: 10px;
}

h1 {
  text-shadow: -2px 2px #aeafae;
}

.row {
  display: flex;
  justify-content: center;
}

#search-menu,
#read-search-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 30px auto 10px auto;
  padding: 5px;
}

.search-result {
  background-color: white;
  border: solid thin #68883b;
  padding: 10px;
}

/* 4 buttons that make up menu on home page to search products, seeds, or add either */
#products-btn, #add-product-btn, #seeds-btn, #add-seed-btn, #read-products-btn, #read-seeds-btn, #update-product-btn, #delete-product-btn, #update-seed-btn, #delete-seed-btn, .home-btn, .save-btn {
  background-color: #BED2A0;
  color: #3D4C1E;
  border: solid medium #68883B;
  text-align: center;
  padding: 5px;
  box-shadow: 0 4px #68883b;
  border-radius: 5px;
  margin: 20px auto 20px auto;
}

#products-btn:active, #add-product-btn:active, #seeds-btn:active, #add-seed-btn:active, #read-products-btn:active, #read-seeds-btn:active, #update-product-btn:active, #delete-product-btn:active, #update-seed-btn:active, #delete-seed-btn:active, .home-btn:active, .save-btn:active {
  box-shadow: 0 0px;
  transform: translateY(4px);
}

#products-btn:hover, #add-product-btn:hover, #seeds-btn:hover, #add-seed-btn:hover, #read-products-btn:hover, #read-seeds-btn:hover, #update-product-btn:hover, #delete-product-btn:hover, #update-seed-btn:hover, #delete-seed-btn:hover, .home-btn:hover, .save-btn:hover {
  background-color: #2D5618;
  color: #B6CD7B;
}

.add-form,
.item-detail,
#login-form,
#signup-form {
  background-color: white;
  padding: 10px;
  margin: 20px;
}

.addpink {
  background-color: pink !important;
  font-weight: 900;
  text-decoration: underline;
}

.fade {
  color: white;
  background-color: black !important;
  font-style: italic;
}
